
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}


.home {
    position: relative;
    text-align: center;
}

.home-background {
    position: relative;
    background-image: url('assets/fleur1.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh; /
}

.image-size {
    width: 100%; 
    height: 108%;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
}

.overlay-text h1 {
    font-size: 48px;
    font-weight: 700;
}

.overlay-text p {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
}

.overlay-text .btn {
    background-color: #DABFDE;
    color: #333;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
}



header {
    background-color: #FFDCF4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    text-decoration: none;
    color: #333; 
    font-size: 24px;
    font-weight: 700;
}

.logo i {
    font-size: 24px; 
    margin-right: 10px; 
    color: #FF6B81; 
}
.navbar {
    list-style-type: none;
    display: flex;

}
.menu-button {
    display: none;
    
}



.navbar.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; 
    right: 0;
    background-color: #9d4a83; 
    z-index: 1; 
}


.navbar li {
    margin: 0;
    padding: 10px 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}


.home-text {
    color: #333; 
}

.home h1 {
    font-size: 48px;
    font-weight: 700;
}

.home h2 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
}

.btn {
    background-color: #DABFDE;
    color: #333;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
}


.footer {
    background-color: #C1BBDD;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    color: #333; 
}

.footer h3 {
    font-size: 24px;
    font-weight: 700;
}

.footer-social ul,
.footer-contact ul {
    list-style-type: none;
    padding: 0;
}

.footer-social li,
.footer-contact li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.footer-social a {
    text-decoration: none;
    color: #333; 
    margin-left: 10px;
}

.white-divider {
    border-left: 2px solid #fff;
    height: 60px;
    margin: 0 40px;
}
.contact {
    background-color: #e3ede1;

}


.contact-form {
    background-color: #995c86;
    padding: 50px;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    max-width: 400px;
}

.contact-form h2 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.contact-form textarea {
    resize: vertical; 
}

.contact-form button {
    background-color: #e0d2da;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #cb79a9;
    color: #fff;
}

.response-message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}


